.box {
  transition: box-shadow .150s;
  border-radius: var(--radius);
  background: linear-gradient(
    var(--angle),
    var(--selectedColorTop),
    var(--selectedColorBottom)
  );
  width: var(--size);
  height: var(--size);
  box-shadow: var(--positionX) var(--positionY) var(--blur) var(--shadowDark),
    var(--positionXOpposite) var(--positionYOpposite) var(--blur)
      var(--shadowLight);
}

.pressed {
  box-shadow: inset var(--positionX) var(--positionY) var(--blur)
      var(--shadowDark),
    inset var(--positionXOpposite) var(--positionYOpposite) var(--blur)
      var(--shadowLight);
}

.preview button{
  border: 0;
  background: var(--accentPrimary);
  width: 40px;
  height: 40px;
  transition: all .2s;
}

.leftU{
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  position: absolute;
  left: 0;
  top: 0;
}

.leftD{
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.rightU{
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  position: absolute;
  right: 0;
  top: 0; 
}

.rightD{
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  position: absolute;
  right: 0;
  bottom: 0; 
}

.leftU button{
  clip-path: polygon(100% 0, 0% 100%, 0 0);
}