/* :root{
  --angle: 145deg;
  --size: 50px;
  --radius: 15px;
  --background: #efeeee;
  --backgroundFirst: #efeeee;
  --backgroundSecond: #efeeee;
  --distance: 20px;
  --intensityL: #efeeee;
  --intensityD: #efeeee;
  --blur: 60px;
  --positionX:20px;
  --positionY:20px;
  --positionXOpposite:-20px;
  --positionYOpposite:-20px;
} */
* {
  box-sizing: border-box;
}

button {
  outline: none;
  cursor: pointer;
}

label {
  color: var(--intensityBaa);

}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background);
  display: grid;
  align-content: center;
  justify-content: center;
}

.conf {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  border-radius: 30px;
  text-align: left;
  position: relative;
  border: 1px var(--intensityB) solid;
  transition: box-shadow .3s;
  box-shadow: var(--positionX) var(--positionY) var(--blur) var(--intensityD),
    var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--intensityL);
}

.App {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.row {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 10fr 1fr;
  justify-content: center;
}


.code span {
  color: #3191c9;
}

.code {
  border-radius: 15px;
  padding: 15px 15px;
  margin-top: 20px;
  color: var(--intensityBaa);
  line-height: 1em;
}

.neu {
  transition: box-shadow .3s;
  border: 1px var(--intensityS) solid;
  box-shadow: var(--positionX) var(--positionY) var(--blur) var(--intensityD),
    var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--intensityL);
}

.preview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



.shape-switch button:active {
  background: var(--intensityB);
  box-shadow: inset var(--positionX) var(--positionY) var(--blur) var(--intensityD),
    inset var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--intensityL), 0 0 0 transparent, 0 0 0 transparent;
}

.shape-switch button {
  border: 0;
  border-radius: 5px;
  background: transparent;
  margin: 20px 10px;
  width: 50%;
  transition: all .3s;
  box-shadow: inset 0 0 0 transparent, inset 0 0 0 transparent, 12px 12px 24px 0 var(--intensityD),
    -12px -12px 24px 0 var(--intensityL);
}

button>svg {
  filter: brightness(150%);
  stroke: var(--intensityD);
  padding: 10px 20px;
  width: 100%;
}

.shape-switch {
  grid-column: 1/3;
  grid-row: 1/3;
  display: flex;
}

.shape-switch>svg {
  width: 100%;
  height: auto;
}

.shape-switch>.active {
  box-shadow: inset var(--positionX) var(--positionY) var(--blur) var(--intensityD),
    inset var(--positionXOpposite) var(--positionYOpposite) var(--blur) var(--intensityL);
  background: var(--intensityB);
  z-index: -2;
}

.active>svg {
  filter: brightness(120%);
}

.activeA {
  transform: scale(1.1);
  opacity: .5;
  border: 2px solid red;
}

/* slider  */
/* please gawd help meeew */
.stat {
  color: var(--intensityBaa);
  text-align: center;
  width: 100%;
  display: grid;
  align-content: center;
  font-weight: 700;
  font-size: 0.7em;
}

.lbl {
  margin-top: 5px;
  z-index: 1;
  text-transform: capitalize;
}

input[type="range"] {
  box-shadow: 6px 6px 10px var(--intensityD),
    -6px -6px 10px var(--intensityL);
  overflow: hidden;
  z-index: 3;
  border-radius: 100px;
  background: transparent;
  position: relative;
  grid-row: 2;
  grid-column: 1/3;
  height: 31px;
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  box-shadow: inset 6px 6px 10pxvar(--intensityD),
    inset -6px -6px 10pxvar(--intensityL);
}

input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  height: 100%;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  border: 1px solid var(--intensityS);
  background: var(--intensityS);
  box-shadow: -255px 0px 0px 240px var(--intensityS);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
  box-shadow: inset 6px 6px 10pxvar(--intensityD),
    inset -6px -6px 10pxvar(--intensityL);
}

input[type="range"]::-moz-range-thumb {
  border-radius: 50%;
  height: 100%;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  border: 1px solid var(--intensityS);
  background: var(--intensityS);
  box-shadow: -255px 0px 0px 240px var(--intensityS);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 100%;
  box-shadow: inset 6px 6px 10pxvar(--intensityD),
    inset -6px -6px 10pxvar(--intensityL);
}
input[type="range"]::-ms-thumb {
  border-radius: 50%;
  height: 100%;
  width: 25px;
  cursor: pointer;
  -webkit-appearance: none;
  border: 1px solid var(--intensityS);
  background: var(--intensityS);
  box-shadow: -255px 0px 0px 240px var(--intensityS);
}

input[type="range"]:focus::-ms-fill-lower {
  background: #5c5ff8;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #5c5ff8;
}